<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <display-name>Chat Application</display-name>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>backend.controllers.RegisterServlet</servlet-class>
    </servlet>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>